@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor-principal: #5040FC;
    --cor-secundaria: #ECFC40;
    --texto-color: #333;
    --texto-color2: #fff;
    --fonte-principal: "IBM Plex Sans", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: var(--cor-principal);
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
}

nav a h1 {
    padding: 5px;
    color: var(--texto-color2);
    text-transform: uppercase;
    font-family: var(--fonte-principal);
}

nav ul li a {
    text-decoration: none;
    color: var(--texto-color2);
    font-family: var(--fonte-principal);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 15px;
}

#card{
    background: #bcbcbc;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #333;
    border-radius: 20px;
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 50px auto;

}
#card p{
    padding: 10px;
}

#card img{
    padding-top: 65px;
}

section{
    flex: 1;
}

footer{
    text-align: center;
    color: var(--texto-color);
    background: var(--cor-secundaria);
    padding: 40px;
}

#card button {
    background-color: var(--cor-principal);
    color: var(--texto-color2);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
    transition: background 0.3s;
}

#card button:hover {
    background-color: #3a30c9; /* escurece ao passar o mouse */
}

#lista-notas {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

#lista-notas li {
    background: #fff;
    color: var(--texto-color);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #999;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    word-wrap: break-word;
}
